@import url(./fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
:root {
    --i400: "Inter-Regular";
    --i500: "Inter-Medium";
    --i600: "Inter-SemiBold";
    --i700: "Inter-Bold";
    --p400: "Poppins-Regular";
    --p500: "Poppins-Medium";
    --p600: "Poppins-SemiBold";
}
.header {
    background-color: #000000;
}
.header_top {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
.header_text {
    font-family: var(--p400);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}
.header_link {
    font-family: var(--p600);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
}
.header_left {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.header_right {
    gap: 11px;
    display: flex;
}
.nav_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 23px;
}
.nav_text {
    font-family: var(--i700);
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.nav_list {
    list-style: none;
    display: flex;
    gap: 48px;
}
.nav_link {
    font-family: var(--p400);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
    transition: 0.5s;
}
.nav_link:hover {
    border-color: #000000;
}
.nav_form {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.nav_input {
    font-family: var(--p400);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
}
.form{
    display: flex;
    gap: 22px;
}
.nav_btn {
    border: none;
    padding: 0 12px;
    background-color: transparent;
}
.btn{
    border: none;
    background-color: transparent;
}
.line {
    border: 0.5px solid grey;
}
.collect_link {
    font-family: var(--p400);
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 16px;
    display: flex;
}
.collect_list {
    list-style: none;
}
.box_text {
    font-family: var(--p400);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}
.box {
    background-color: #000000;
    width: 892px;
    height: 344px;
    margin: 40px 0 0 45px;
    display: flex;
    justify-content: space-between;
}
.collect_left {
    margin-top: 40px;
    width: 217px;
    height: 344px;
}
.about_box {
    /* padding: 40px 0 0 0; */
    display: flex;
    justify-content: space-between;
}

.box_voucher {
    font-family: var(--i600);
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: #fff;
}
.box_link {
    font-family: var(--p500);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    border-bottom: transparent solid 2px;
    padding-bottom: 5px;
    transition: 0.5s;
}
.box_list {
    list-style: none;
    display: flex;
    gap: 11px;
}
.box_link:hover {
    border-color: #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 30px;
    font-weight: 200;
    color: white;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 12px;
    font-size: 18px;
    opacity: 1;
    background: gray;
}
.swiper-pagination-bullet-active {
    background-color: red;
    border: 2px solid #FFFFFF
}
.swiper {
    padding: 58px;
    display: flex;
    justify-content: space-between;
}
.swiper-slide {
    display: flex;
    justify-content: space-between;
}
.swiper-slide{
    display: flex;
    justify-content: center;
}
.line2{
    border: 0.5px solid grey;
}